target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# UI
node_modules/
public/vendor
#bower_components/
# src/main/resources/static/assets/vendor
# src/main/resources/static/test
# src/main/resources/static/tests
